- var nameValues = ['Main', 'About', 'Works', 'Blog', 'Contacts']
- var linkValues = ['./index.html', './about.html', './works.html', './blog.html', './contacts.html' ]
- var langValues = ['UA', 'RU', 'EN']

include mixin

header(id = "header" class="header")
    .logo
        a.logo__link(href="#")
            +svg('009-flamingo')
    .menu
        span
    nav.navigation
        ul.navigation__inner
            //- +navLink('./index.html', 'Home')
            //- +navLink('./about.html', 'About')
            //- +navLink('./works.html', 'Works')
            //- +navLink('./blog.html', 'Blog')
            //- +navLink('./contacts.html', 'Contacts')
            
            - for (var i = 0; i < linkValues.length; i++)
                +navLink(linkValues[i], nameValues[i])

    .choose-language
        each value in langValues
            button.choose-language__item #{value}
