- var menuValues = ['Main', 'About', 'Works', 'Blog', 'Contacts']
- var linkValues = ['./index.html', './about.html', './works.html', './blog.html', './contacts.html' ]
- var langValues = ['UA', 'RU', 'EN']

include mixin

header(id = "header" class="header")
    .logo
        a.logo__link(href="#")
            +svg('009-flamingo')
    .menu
        span
    nav.navigation
        ul.navigation__inner
            - for (var x = 0; x < menuValues.length; x++)
                li.navigation__item
                    a.navigation__link(href=linkValues[x]) #{menuValues[x]}
    .choose-language
        each value in langValues
            button.choose-language__item #{value}
